{% macro gtable(leftheader, headers, rows, totalfirst=false) %}
    <table>
        <thead>
            <tr>
                <th>{{ leftheader }}</th>
                {% if totalfirst %}<th>Summa</th>{% endif %}
                {% for th in headers %}
                    <th>{{ th }}</th>
                {% endfor %}
                {% if not totalfirst %}<th>Summa</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                {% set sumcol %}
                    {% if row|length == 3 %}
                        <td>{{ round(row[1]) }}</td>
                    {% else %}
                        <td>{{ round(row[-1]|sum) }}</td>
                    {% endif %}
                {% endset %}
                {% if totalfirst %}
                    {{ sumcol }}
                {% endif %}
                {% for value in row[-1] %}
                    <td {% if value < 0 %} class="red" {% endif %}>{{ round(value) }}</td>
                {% endfor %}
                {% if not totalfirst %}
                    {{ sumcol }}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
