{% extends "_base.html" %}
{% block title %}Romanesco{% endblock %}
{% block body %}
    <div id="header">
        <div class="lg">
            <div>Den här perioden</div>
            <div><span class="amount">{{ current_month }}</span>&nbsp;<span class="currency">kr</span></div>
        </div>
        <div>
            {% if target is not none %}
            <div>Kvar i budget</div>
            <div><span class="amount {{ 'red' if target < current_month else '' }}">{{ target - current_month }}</span>&nbsp;<span class="currency">kr</span></div>
            {% endif %}
        </div>
        <div>
            <div>Tillgodo</div>
            <div><span class="amount {{ 'red' if net < 0 else '' }}">{{ net }}</span>&nbsp;<span class="currency">kr</span></div>
        </div>
    </div>
    <div id="subheader">
        <div id="cats">
            {% for category, value in category_stats %}
            <div>
                <div>{{ category }}</div>
                <div><span class="amount">{{ value }}</span>&nbsp;<span class="currency">kr</span></div>
            </div>
            {% endfor %}
        </div>
        <div id="actions">
            <a class="action" href="{{ url_for('receipt_new') }}" title="Nytt kvitto">&#x1f9fe;&#x1f195;</a>
            <a class="action" href="{{ url_for('receipt_upload') }}" title="Ladda upp kvitto">&#x1f9fe;&#x1f4e4;</a>
            <a class="action" href="{{ url_for('deposit_new') }}" title="Ny insättning">&#x1f4b3;&#x1f195;</a>
            <div class="dropdown" role="button">
                <span class="action" title="Fler alternativ" tabindex="0">&#9660;</span>
                <div class="dropdown-content">
                    <a href="{{ url_for('stats') }}">&#x1f4b8;&#x1f4ca;&nbsp;Statistik</a>
                    <a href="{{ url_for('stats_statement') }}">&#x1f4b8;&#x1f7f0;&nbsp;Netton</a>
                    <a href="{{ url_for('debug_stats_recompute') }}">Beräkna om allt (debug)</a>
                    <a href="https://github.com/rubenseyer/romanesco">Om Romanesco</a>
                </div>
            </div>

        </div>
    </div>
    <div id="log"></div>
    <div class="page-load-status">
        <p class="infinite-scroll-request">Hämtar...</p>
        <p class="infinite-scroll-last">Du har nått början av händelseloggen &#x1f9fe;&#x1f966;</p>
        <p class="infinite-scroll-error">Fel vid hämtning av händelser</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/infinite-scroll@4/dist/infinte-scroll.pkgd.min.js"></script>
    <script>
        'use strict'
        const log = document.getElementById('log')
        const infScroll = new InfiniteScroll(log, {
            path: function() { return `{{ url_for('events_fetch', page=0)[:-1] }}${this.loadCount}` },
            append: '.log-entry',
            prefill: true,
            fetchOptions: {
                credentials: 'same-origin',
                mode: 'same-origin',
            },
            history: false,
            status: '.page-load-status'
        })
        /*
        const loadevents = () => {
            const page = parseInt(log.dataset.page)
            fetch(`${page}`, {
                credentials: 'same-origin',
                mode: 'same-origin',
            })
                .then(resp => resp.text())
                .then(text => {
                    log.insertAdjacentHTML('beforeend', text)
                    log.dataset.page = page + 1
                })
        }
        window.addEventListener('DOMContentLoaded', e => loadevents())
        window.addEventListener('scroll', e => {
            if (document.documentElement.scrollHeight - document.documentElement.scrollTop > document.documentElement.clientHeight + 10)
                return
            loadevents()
        }, {passive: true})
        */
    </script>
{% endblock body %}
