{% extends "_base.html" %}
{% block title %}Romanesco{% endblock %}
{% block body %}
    <div id="header">
        <div class="lg">
            <div>Den här månaden</div>
            <div><span class="amount">{{ current_month }}</span>&nbsp;<span class="currency">kr</span></div>
        </div>
        <div>
            <div>Genomsnitt nu</div>
            <div><span class="amount">{{ avg_this_day }}</span>&nbsp;<span class="currency">kr</span></div>
        </div>
        <div>
            <div>Tillgodo</div>
            <div><span class="amount {{ 'red' if net < 0 else '' }}">{{ net }}</span>&nbsp;<span class="currency">kr</span></div>
        </div>
    </div>
    <div id="subheader">
        <div id="cats">
            {% for category, value in category_stats %}
            <div>
                <div>{{ category }}</div>
                <div><span class="amount">{{ value }}</span>&nbsp;<span class="currency">kr</span></div>
            </div>
            {% endfor %}
        </div>
        <div id="graph">
            <!-- TODO -->
        </div>
        <div id="actions">
            <a href="{{ url_for('receipt_new') }}" title="Nytt kvitto">&#x1f9fe;&#x1f195;</a>
            <a href="{{ url_for('receipt_upload') }}" title="Ladda upp kvitto">&#x1f9fe;&#x1f4e4;</a>
            <a href="{{ url_for('deposit_new') }}" title="Ny insättning">&#x1f4b3;&#x1f195;</a>
            <a href="{{ url_for('stats') }}" title="Statistik">&#x1f4b8;&#x1f4ca;</a>
        </div>
    </div>
    <div id="log" data-page="0"></div>

    <script>
        'use strict'

        const log = document.getElementById('log')
        const loadevents = () => {
            const page = parseInt(log.dataset.page)
            fetch(`{{ url_for('events_fetch', page=0)[:-1] }}${page}`, {
                credentials: 'same-origin',
                mode: 'same-origin',
            })
                .then(resp => resp.text())
                .then(text => {
                    log.insertAdjacentHTML('beforeend', text)
                    log.dataset.page = page + 1
                })
        }
        window.addEventListener('DOMContentLoaded', e => loadevents())
        window.addEventListener('scroll', e => {
            if (document.documentElement.scrollHeight - document.documentElement.scrollTop > document.documentElement.clientHeight + 10)
                return
            loadevents()
        }, {passive: true})
    </script>
{% endblock body %}
